{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% tailwind_css %}
   <link rel="stylesheet" href="{% static "css/font.css" %}">
   <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
   <script src="{% static "js/login.js" %}"></script>
    <title>LOGIN</title>
</head>
<body class="flex flex-col justify-center h-screen bg-slate-100">
    <div class="h-full w-full flex flex-col">
        <div class="self-center flex flex-row w-9/12 bg-white rounded-xl m-4 overflow-hidden my-auto border-2">
            <div class="my-20 w-50 w-1/2 h-full">
                <h3 class="mt-5 text-center text-3xl font-bold">Sign into Your Account</h3>
                <form method="POST" class="form p-4 mx-5 my-10">
                    {% csrf_token %}
                    <div class="flex flex-col">
                        <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}</label>
                        {{ form.username }}
                    </div>
                    <div class="flex flex-col mt-5">
                        <label for="{{ form.password.id_for_label }}" class="form-label">{{ form.password.label }}</label>
                        {{ form.password }}
                        <div class="w-fullh-fit text-sm flex flex-row p-2">
                            {% if form.username.errors %}
                            <div class=" text-red-600 ">
                                {{form.username.errors}}
                            </div>
                            {% endif %}
                            <div class="ml-auto flex flex-row gap-2">
                            <label for="show_password">Show Password</label>
                            <input type="checkbox" id="show_password">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="my-10 w-full py-3 bg-primary_color rounded-lg text-white transition hover:bg-green-800">Login</button>
                </form>
            </div>
            <div class="w-1/2 h-full  bg-primary_color flex flex-col justify-center">
                <div class="flex flex-col text-center mx-5 p-4">
                    <h1 class="font-bold text-5xl text-white">New Here?</h1>
                    <p class="self-center  mt-4 text-xl">Embrace new beginnings <br> Sign up and enjoy endless opportunities</p>
                    <a href="{% url 'register:register' %}" class="mt-20 self-center bg-white text-green-700 rounded-md p-3 w-full transition hover:bg-slate-200">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>