{% extends "layout.html" %}

{% block title %}Add Job{% endblock title %}

{% block content %}
<div class=" flex flex-col w-full ">
    <div class="bg flex flex-col w-3/5 h-fit px-28 mx-5 self-center py-5">
        <div class="bg-white w-11/12 rounded-md shadow-md p-8 justify-center self-center">
            <p class="text-green-600 text-3xl font-bold text-center mt-4">Create Job</p> 
            <form method='POST'>
                {% csrf_token %} 
                {{ form.media }}
                <div class="mt-5">
                    <label for=>Title</label>
                    {{form.title}}
                </div>
                <div class="mt-5">
                    <label for=>Budget</label>
                    {{form.budget}}
                </div>
                <div class="mt-5">
                    <label for="title">Description</label>
                    {{form.description}}
                </div>
                <button type="submit" class="w-full py-2 bg-green-600 text-white text-lg mt-2 rounded-md">Post<button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}