{% extends "layout.html" %}
{% load static %}
{% block custom_head_tag %}
    <script src="{% static "js/job.js" %}"></script>
    <link rel="stylesheet" href="{% static 'css/job.css' %}">
{% endblock custom_head_tag %}

{% block title %}Edit{% endblock title %}

{% block content %}
<div id="custom-popup" class="transition-all">
    <div class="bg-white p-6 rounded shadow-lg text-center">
        <p id="popup-message" class="mb-4 text-xl"></p>
        <div class="flex justify-center gap-4">
            <button id="confirm-btn" class="bg-green-500 text-white px-4 py-2 rounded">Confirm</button>
            <button id="cancel-btn" class="bg-red-600 text-white px-4 py-2 rounded">Cancel</button>
        </div>
    </div>
</div>

<a id="discard-changes" href="{% url 'job:my_jobs' job_id=job.id %}" id="discard-btn" class="px-4 bg-red-700 p-2 text-white mt-2 rounded-md hover:bg-red-800 transition-colors sticky  left-5 top-20 ">Back</a>
<div class="w-full h-fit p-4 px-48 grid gap-5 transition-all">
    <div class="bg-white rounded-md h-fit p-4 shadow-md w-auto  mx-auto border">
        <p class="w-full text-3xl text-center text-green-600">Edit Job</p>
        <form method="post">
            {% csrf_token %}
            {{ form.media }}
            <div class="mt-5">
                <label for="title">Title</label>
                {{form.title}}
                <small class="text-red-700">{{form.title.errors}}</small>
            </div>
            <div class="mt-5">
                <label for="location">Tags</label>
                {{form.category}}
                <small class="text-red-700">{{form.category.errors}}</small>
            </div> 
            <div class="mt-5">
                <label for="location">Location</label>
                {{form.location}}
                <small class="text-red-700">{{form.location.errors}}</small>
            </div> 
            <div class="mt-5">
                <label for="budget">Budget</label>
                {{form.budget}}
                <small class="text-red-700">{{form.budget.errors}}</small>
            </div> 
            <div class="mt-5">
                <label for="budget">Payment Method</label>
                {{form.payment_method}}
                <small class="text-red-700">{{form.payment_method.errors}}</small>
            </div> 
            <div class="mt-5">
                <label for="budget">Schedule</label>
                {{form.schedule}}
                <small class="text-red-700">{{form.schedule.errors}}</small>
            </div> 
            <div class="mt-5 flex flex-col justify-center">
                <label for="description">Description</label>
                {{form.description}}
                <small class="text-red-700">{{form.description.errors}}</small>
            </div>
            <button id="save-changes" type="default_if_none:""" class="w-full bg-green-600 p-2 text-white mt-2 rounded-sm hover:bg-green-700 transition-colors">Save Changes</button>
            <a href="{% url 'job:delete_job' job.id %}" class="w-full text-center bg-red-700 p-2 text-white inline-block mt-3 rounded-sm hover:bg-red-800">Delete job</a>
            {{form.errors}}
        </form>
    </div>
</div>
{% endblock content %}