.hidden{
    display: none;
}
#custom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
    transition: 1s linear;
    z-index: 10;
}
#custom-popup .popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
button:disabled {
    opacity: 0.6;
}

.disappear{
    animation: disappearAnimation 2s forwards;
}
@keyframes disappearAnimation{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}