{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static "js/admin.js" %}"></script>
    {% block custom_head_tag %}{% endblock custom_head_tag %}
    {% tailwind_css %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="bg-gray-100 h-screen md:p-6 sm:p-8 grid grid-rows-10">
    <div class="bg-white w-full border-2 rounded-md flex flex-row items-center p-5">
        <div class="flex flex-col">
            <p class="text-xl font-bold">{% block name %}{% endblock name %}</p>
            <p class="text-sm">Admin</p>
        </div>
        <ul class="flex flex-row ml-auto gap-4">
            <li><a href="{% url "custom_admin:overview" %}" class="transition {% if 'overview' in request.path %} text-teal-600 hover:text-secondary{% else %}text-gray-700 hover:text-black{% endif %}">Overview</a></li>
            <li><a href="{% url "custom_admin:users" %}" class="transition {% if 'users' in request.path %} text-teal-600 hover:text-secondary{% else %}text-gray-700 hover:shadow-sm{% endif %}">Users</a></li>
            <li><a  href="{% url "custom_admin:job_admin" %}" class="transition {% if 'jobs' in request.path %} text-teal-600 hover:text-secondary{% else %}text-gray-700 hover:text-black{% endif %}">Jobs</a></li>
            <li><a  href="{% url "custom_admin:job_applications" %}" class="transition {% if 'jobapplications' in request.path %} text-teal-600 hover:text-secondary{% else %}text-gray-700 hover:text-black{% endif %}">Job Applications</a></li>
            <li><a href="{% url "login:logout" %}" class="text-red-600 transition hover:text-red-800">Logout</a></li>
        </ul>
    </div>
    {% block content %}
    
    {% endblock content %}
</body>
</html>