{% extends "base_admin.html" %}
{% load static %}
{% block custom_head_tag %}
    <script src="{% static "js/job_admin.js" %}"></script>
{% endblock custom_head_tag %}
{% block title %}Job{% endblock title %}

{% block name %}{{request.user}}{% endblock name %}

{% block content %}
    <div class="w-full h-fit py-5">
        <h3 class="text-2xl font-bold">Job</h3>
        <div class="w-full flex flex-row gap-5">
            <div class="w-1/4 border-2 bg-white p-4 flex flex-row justify-center gap-4" >
                <img class="h-16 self-center" src="{% static "images/postadd.svg" %}" alt="">
                <div class="my-auto">
                    <p class="font-medium text-gray-500 text-xs">Jobs Posted</p>
                    {% if job_summary.job_posted %}
                        <h1 class="text-4xl font-bold">{{job_summary.job_posted}}</h1>
                    {% endif %}
                </div>
            </div>
            <div class="w-1/4 border-2 bg-white p-4 flex flex-center justify-center gap-4">
                <img class="h-16 self-center" src="{% static "images/activejob.svg" %}" alt="">
                <div class="my-auto">
                    <p class="font-medium  text-gray-500 text-xs">Active</p>
                    <h1 class="text-4xl font-bold ">
                        {% if job_summary.active %}
                            {{job_summary.active}}
                        {% else %}
                            0
                        {% endif %}
                    </h1>
                </div>
            </div>
            <div class="w-1/4 border-2 bg-white p-4 flex flex-row justify-center gap-4">
                <img class="h-16 self-center" src="{% static "images/finished.svg" %}" alt="">
                <div class="my-auto">
                    <p class="font-medium  text-gray-500 text-xs">Completed</p>
                    {% if job_summary.completed %}    
                        <h1 class="text-4xl font-bold ">{{job_summary.completed}}</h1>
                    {% endif %}
                </div>
            </div>
            <div class="w-1/4 border-2 bg-white p-4 flex flex-row justify-center gap-4">
                <img class="h-16 self-center" src="{% static "images/money.svg" %}" alt="">
                <div class="my-auto">
                    <p class="font-medium  text-gray-500 text-xs">Revenue</p>
                    {% if job_summary.revenue %}
                        <h1 class="text-4xl font-bold ">₱{{job_summary.revenue}}</h1>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="w-full flex flex-row gap-4 py-4 ">
            <div class="max-w-full bg-white border-2 w-3/4">
                <canvas id="job-created" class="w-full max-h-80"></canvas>
            </div>
            <div class="max-w-full bg-white border-2 w-2/3">
                <canvas id="job-tags" class="w-full max-h-80"></canvas>
            </div>
        </div>
        <div class="py-4 px-5 flex flex-row bg-white border-2">
            <form id="sort-form" class="ml-auto"method="get" action="{% url 'custom_admin:job_admin' %}">
                <label for="sort_option" class="text-xs">Order by:</label>
                <select name="sort_option" id="sort_option" class="text-xs" style="font-size: 0.75rem;">
                    <option value="title" {% if current_sort_option == "title" %}selected{% endif %}>title</option>
                    <option value="employer" {% if current_sort_option == "employer" %}selected{% endif %}>employer</option>
                    <option value="tag" {% if current_sort_option == "tag" %}selected{% endif %}>tag</option>
                    <option value="created_at" {% if current_sort_option == "created_at" %}selected{% endif %}>created at</option>
                    <option value="budget" {% if current_sort_option == "budget" %}selected{% endif %}>budget</option>
                    <option value="location" {% if current_sort_option == "location" %}selected{% endif %}>location</option>
                </select>
                <label for="sort_by" class="text-xs">Sort</label>
                <select name="sort_by" id="sort_by" class="text-xs" style="font-size: 0.75rem;">
                    <option value="-" {% if sort_by == "-" %}selected{% endif %}>Descending</option>
                    <option value="" {% if sort_by == "" %}selected{% endif %}>Ascending</option>
                </select>
            </form>
        </div>
        <table class="table-auto w-full rounded-md border border-slate-300">
            <thead>
                <tr class="border-b bg-slate-200 text-center">
                    <th class="py-2 text-gray-600 font-semibold text-sm">Job</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Employer</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Tags</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Created Date</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Budget</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Location</th>
                </tr>
            </thead>
            <tbody class="text-sm">
                {% for job in  jobs %}
                    <tr>
                        <td class="py-2 px-6 border"><a href="{% url 'custom_admin:edit_job' job_id=job.id %}" class="hover:text-secondary">{{job}}</a></td>
                        <td class="py-2 px-6 border"><a href="{% url 'profile:profile' username=job.employer %} " class="hover:text-secondary">{{job.employer}}</a></td>
                        <td class="py-2 px-6 border">{{job.category}}</td>
                        <td class="py-2 px-6 border">{{job.created_at}}</td>
                        <td class="py-2 px-6 border">{{job.budget}}</td>
                        <td class="py-2 px-6 border">{{job.location}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="application/json" id="job-date">{{ job_date|safe }}</script>
    <script type="application/json" id="job-count">{{ job_count|safe }}</script>
    <script type="application/json" id="label">{{ tag.label|safe }}</script>
    <script type="application/json" id="count">{{ tag.count|safe }}</script>
    
{% endblock content %}