{% extends "base_admin.html" %}
{% load static %}
{% block custom_head_tag %}
<script src="{% static "js/user_charts.js" %}"></script>
{% endblock custom_head_tag %}
{% block title %}Job Application{% endblock title %}

{% block name %}{{request.user}}{% endblock name %}

{% block content %}
    <div class="w-full h-fit bg-white mt-5 rounded-md shadow-custom_spread p-4">
        <h3 class="text-2xl font-medium">Job Application</h3>
        <div class="w-full grid grid-cols-4 gap-5 borber border-b border-b-slate-300 p-10">
            <div>
                <p class="font-medium text-center">Applications Submitted</p>
                <h1 class="text-4xl font-bold text-center">{{application_overview.total_applications}}</h1>
            </div>
            <div>
                <p class="font-medium text-center">Pending Applications</p>
                <h1 class="text-4xl font-bold text-center">{{application_overview.total_pending_applications}}</h1>
            </div>
            <div>
                <p class="font-medium text-center">Accepted Applications</p>
                <h1 class="text-4xl font-bold text-center">{{application_overview.total_accepted_applications}}</h1>
            </div>
            <div>
                <p class="font-medium text-center">Finished Applications</p>
                <h1 class="text-4xl font-bold text-center">{{application_overview.total_completed}}</h1>
            </div>
        </div>
        <table class="table-auto w-full rounded-md border border-slate-300">
            <thead>
                <tr class="border-b bg-slate-200 text-center">
                    <th class="py-2 text-gray-600 font-semibold text-sm">Job Application</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Job</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Worker Name</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Application Status</th>
                    <th class="py-2 text-gray-600 font-semibold text-sm">Date Applied</th>
                </tr>
            </thead>
            <tbody>
                {% for application in  applications %}
                    <tr>
                        <td class="py-2 px-6 border"><a href="{% url 'custom_admin:edit_application' application_id=application.id %}" class="hover:text-secondary">{{application}}</a></td>
                        <td class="py-2 px-6 border">{{application.job}}</td>
                        <td class="py-2 px-6 border">{{application.worker}}</td>
                        <td class="py-2 px-6 border 
                        {% if application.status|lower == 'declined' %}
                            text-red-600
                        {% elif application.status|lower == 'accepted' %}
                            text-green-600
                        {% elif application.status|lower == 'completed' %}
                            text-blue-600
                        {% else %}
                            text-orange-500
                        {% endif %}">{{application.status}}</td>
                        <td class="py-2 px-6 border">{{application.applied_at}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}