{% extends "base_admin.html" %}
{% load static %}
{% block custom_head_tag %}
    <script src="{% static "js/charts.js" %}"></script>
{% endblock custom_head_tag %}
{% block title %}Overview{% endblock title %}

{% block name %}{{admin}}{% endblock name %}

{% block content %}
    <div class="w-full h-fit bg-white mt-5 rounded-md shadow-custom_spread p-4">
        <h3 class="text-2xl font-medium">Overview</h3>
        <div class="w-full grid grid-cols-3 gap-5 borber border-b border-b-slate-300">
            <div class=" flex flex-row justify-center h-52 gap-6">
                <img class="h-32 self-center" src="{% static "images/worker.svg" %}" />
                <div class="flex flex-col justify-center">
                    <p class="font-medium text-gray-500">Total Registered Users</p>
                    <h1 class="text-4xl font-bold">{{user_count}}</h1>
                </div>
            </div>
            <div class="flex flex-row justify-center gap-6">
                <img class="h-32 self-center" src="{% static "images/work.svg" %}" />
                <div class="flex flex-col justify-center">
                    <p class="font-medium text-gray-500">Total Jobs Created</p>
                    <h1 class="text-4xl font-bold">{{job_count_sum}}</h1>
                </div>
            </div>
            <div class=" flex flex-row justify-center gap-6">
                <img class="h-32 self-center" src="{% static "images/money.svg" %}" />
                <div class="flex flex-col justify-center">
                    <p class="font-medium text-gray-500">Total Revenue Generated</p>
                    <h1 class="text-4xl font-bold">₱ {{income_generated}}</h1>
                </div>
                
            </div>
        </div>
        <div class="w-full grid grid-cols-1 gap-20 p-10">
            <canvas id="registered-users" class="max-h-80"></canvas>
            <canvas id="job-created" class="max-h-80"></canvas>
            <canvas id="job-revenue" class="max-h-80"></canvas>
        </div>
    </div>
    <script type="application/json" id="user-date">{{ dates|safe }}</script>
    <script type="application/json" id="user-count">{{ count|safe }}</script>
    <script type="application/json" id="job-date">{{ job_date|safe }}</script>
    <script type="application/json" id="job-count">{{ job_count|safe }}</script>
    <script type="application/json" id="income-date">{{ income_date|safe }}</script>
    <script type="application/json" id="income-count">{{ income_count|safe }}</script>
{% endblock content %}