{% extends 'layout.html' %}
{% load static %}
{% block title %}
    Landing
{% endblock %}
{% block custom_head_tag %}
    <link rel="stylesheet" href="{% static "css/landing.css" %}">
{% endblock custom_head_tag %}

{% block content %}
    <div class="landing-div flex flex-col">
        <div class="flex flex-row items-right w-full lg:h-screen">
            <div class="px-20 md:px-32 lg:px-48 2xl:px-52 w-full lg:my-auto flex flex-row">
                <div  class="w-3/5 -z-0 text-white">
                    <div class="font-extrabold text-6xl flex flex-col">    
                    {% if request.user and request.user.is_worker %}
                        <h1  class="leading-tight text-left">HONEST</h1>
                        <h1  class="leading-tight text-left">RELIABLE EMPLOYERS</h1>
                        <h1  class="leading-tight text-left">NEAR YOU</h1>
                    {% else %}
                        <h1  class="leading-tight text-left">AFFORDABLE</h1>
                        <h1  class="leading-tight text-left">SKILLED WORKERS</h1>
                        <h1  class="leading-tight text-left">NEAR YOU</h1>
                    {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        {% if request.user and request.user.is_worker %}
                            <a href="{% url 'employee:employee_feed' %}" class="inline-block bg-green-600 hover:bg-green-700 text-white py-3 px-8 rounded-sm">Start Applying</a>
                        {% elif request.user and not request.user.is_worker %}
                            <a href="{% url 'employer:employer_feed' %}" class="inline-block bg-green-600 hover:bg-green-700 text-white py-3 px-8 rounded-sm">Start Hiring</a>    
                        {% endif %}
                    {% else %}
                        <a href="{% url 'register:register' %}" class="inline-block bg-green-600 hover:bg-green-700 text-white py-3 px-8 rounded-sm">Get Started</a>
                    {% endif %}
                </div>
                <div class="-z-20 overflow-hidden">  
                    <img class="object-scale-down absolute left-0 bottom-0" src="{% static "images/landing_bg.png" %}" alt="">
                    <img class="absolute right-0 z-10 w-2/5 xl:w-6/12 bottom-0" src="{% static "images/worker.png" %}" alt="">
                </div>
            </div>
        </div>
    
        <div id="explore" class="flex px-20 md:px-32 lg:px-48 2xl:px-52">
            <div class="flex flex-col gap-4">
                <p class="text-4xl font-extrabold text-green-800">Our Services</p>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center gap-4 w-full">
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/laundry.png" %}" alt="">
                        <div class="p-2 bg-gray-100">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Laundry</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/gardening.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Gardening</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/reapair.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Repair</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/driver.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Transportation</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/cleaning.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Yardwork</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" src="{% static "images/housecleaning.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">House Cleaning</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover" class="object-contain h-full" src="{% static "images/canine.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Pet Care</p>
                        </div>
                    </div>
                    <div  class="border-2 flex flex-col rounded-md hover:scale-110 transition bg-white">
                        <img class="h-full object-cover " src="{% static "images/SECURITY.png" %}" alt="">
                        <div class="p-2 bg-gray-100 flex flex-col">
                            <p class="font-medium  rounded-b-md mt-auto text-lg p-">Security</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class=" flex flex-col gap-10 px-20 md:px-32 lg:px-48 2xl:px-52 py-20">
            <p class="text-4xl font-extrabold text-green-800">A thriving hub to find and offer local jobs with ease</p>
            <div class="flex flex-row w-full gap-4">
                <div class="w-1/3 border-2 flex flex-col rounded-md bg-white">
                    <img class="hover:scale-110 transition h-full object-cover " src="{% static "images/localexperts.png" %}" alt="">
                    <div class="flex flex-col gap-0  p-2">
                        <p class="text-green-700 font-medium">Find Local Experts</p>
                        <p class="text-justify text-sm">Explore various categories to connect with skilled workers in your community, for any task, at any budget.</p>
                    </div>
                </div>
                <div class="w-1/3 border-2 flex flex-col rounded-md bg-white">
                    <img class="hover:scale-110 transition h-full object-cover " src="{% static "images/fast.png" %}" alt="">
                    <div class="flex flex-col gap-0  p-2">
                        <p class="text-green-700 font-medium">Fast, Reliable </p>
                        <p class="text-justify text-sm">Quickly search and hire the right person, ensuring top-notch work delivered on time.</p>
                    </div>
                </div>
                <div class="w-1/3 border-2 flex flex-col rounded-md bg-white">
                    <img class="hover:scale-110 transition h-full object-cover " src="{% static "images/support.png" %}" alt="">
                    <div class="flex flex-col gap-0  p-2">
                        <p class="text-green-700 font-medium">Timely Support</p>
                        <p class="text-justify text-sm">Get help anytime with our responsive support team, ready to assist with any questions or issues.</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="about" class="w-full h-fit flex flex-col gap-10 px-20 md:px-32 lg:px-48 2xl:px-52 py-20">
            <p class="text-4xl font-extrabold text-green-800">About Us</p>
            <div class="flex flex-row h-1/3 mx-auto gap-4 p-4">
                <p class="text-justify w-3/5 my-auto to-right" id="animate">
                    We make it easy to connect with skilled professionals who are ready to assist with 
                    your home and business needs. From plumbing and electrical work to repairs and 
                    installations, we offer a trusted and affordable way to get tasks done efficiently. 
                    Our platform is built on quality, reliability, and convenience. Say goodbye to endless 
                    searches—just choose a service, find a nearby expert, and let Serviso take care of the rest.
                </p>
                <img class="w-2/5 object-contain" src="{% static "images/connection.png" %}" alt="">
            </div>
            
            <div class="flex flex-row-reverse h-1/3 p-4">
                <div class="self-center  w-3/5">
                    <p class=" text-justify to-left" id="animate">
                        Discover a world of trusted and experienced professionals, carefully verified to 
                        meet your needs across a wide range of services. With competitive rates and fully 
                        transparent pricing, you can enjoy affordable solutions without worrying about hidden 
                        charges or surprises. Our seamless booking process ensures a hassle-free experience,
                         saving you time with quick confirmations and flexible scheduling options tailored to fit your busy lifestyle.
                    </p>
                </div>
                <img class="w-2/5 object-contain" src="{% static "images/professional.png" %}" alt="">
            </div>
            
            <div class="flex flex-row h-1/3 mx-auto gap-4 p-4">
                <div class="self-center  w-3/5">
                    <p class="text-justify to-right" id="animate">
                        To provide you with peace of mind and professional support, no 
                        matter the size of the task. Whether it’s a simple fix or a larger 
                        project, Serviso connects you with the right pros for the job—fast, easy, and reliable.
                    </p>
                </div>
                <img class="w-2/5 object-contain" src="{% static "images/support2.png" %}" alt="">
            </div>
        </div>
        <div class="2-full h-40 bg-gray-200">

        </div>
        

        <div class="bottom-0 p-2 fixed hover:scale-125 transition hover:ml-2 hover:mb-2">
            <a href="#" class="text-xs bg-green-800 bg-opacity-55 hover:opacity-100 p-1 backdrop-blur-sm text-white">Back to Top</a>
        </div>
    </div>
{% endblock %}
