{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="{% static "js/register.js" %}"></script>
    {% tailwind_css %}
    <title>Registration</title>
</head>
<body class="bg-gray-100 h-screen flex flex-col">
    <div class="main-container my-auto">
        <div class="left-right w-1/2  container  d-flex flex-column align-items-center">
            <form method="POST" class="w-70 justify-self-center ">
                {% csrf_token %}
                <div class="main-container bottom_part w-100 ">
                    <div style="width: 50vw;" class=" m-5 bg-white border p-5 rounded-xl">
                        <h1 class="to_find mb-5 text-3xl">Sign up </h1>
                        <div class="form-group w-100">
                            <label for="username">Username</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                            <small class="text-danger">
                                {{ form.username.errors }} 
                            </small>    
                            {% endif %}
                        </div>
                        
                        <div class="form-group w-100 mt-2">
                            <label for="password">Password</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group w-100 mt-2">
                            <label for="confirm_password">Confirm password</label>
                            <input type="password" name="confirm_password" class="w-full border border-gray-600 rounded-md" />
                            {% if form.password.errors %}
                            <small class="text-danger">
                                {{ form.password.errors }} 
                            </small>    
                            {% endif %}
                        </div>
                        <div class="grid grid-cols-2 gap-5">
                            <div id="client" class=" w-full border-2 rounded-3 px-2 mt-4">
                                <div class="client ">
                                    <div class="w-100 d-flex justify-content-end">{{ form.is_worker.0 }}</div>
                                    <p class="p-3">join as a client seeking someone who can provide the services I seek</p>
                                </div>
                            </div>
                            <div id="worker" class="w-full border-2 rounded-3 px-2 mt-4 ">
                                <div class="professional">
                                    <div class="w-100 d-flex justify-content-end">{{ form.is_worker.1 }}</div>
                                    <p class="p-3">Join as a professional capable of delivering the physical services</p>
                                </div>
                            </div>
                        </div>
                        <button class="form-control btn btn-success mt-10" type="submit">Sign up</button>
                        <p>Already have an account? <a href="{% url "login:login" %}" class="text-success w-100 align-center">click here</a></p>  
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
