{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    {% tailwind_css %}
    <title>request {{status}}</title>
</head>
<body class="flex flex-row h-screen">
    <div class=" mx-auto my-auto flex flex-col gap-5">
        <span class="h-fit my-auto font-bold text-center text-7xl text-green-800">{{status}}</span>
        <span class="text-xl h-fit my-auto border-t-green-800">
            {% if message %}
                {{message}}
            {% endif %}
        </span>
    </div>
</body>
</html>