<!DOCTYPE html>
{% load static %}
{% load static tailwind_tags %}
{% load livereload_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link rel="stylesheet" href="{% static 'css/output.css' %}"> {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/font.css' %}">
  <link rel="stylesheet" href="{% static "css/override.css" %}">
  <link rel="stylesheet" href="{% static 'css/job.css' %}">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  {% tailwind_css %}
  {% livereload_script %}
  {% block custom_head_tag %}{% endblock custom_head_tag %}
  <title>
    {% block title %}App name{% endblock %}
  </title>
</head>
<body class="overflow-x-hidden h-screen bg-slate-50">
  <nav class="sticky top-0 z-10 bg-white border-b-2 border-b-green-700 py-4 px-8">
    <div class="flex justify-between items-center">
      <div class="logo">
        <a href="#index">  
          <img class="h-5" src="{% static 'images/Serviso.png' %}" alt="Serviso Logo">
        </a>
      </div>
        {% if user.is_authenticated %}
          <ul class="flex space-x-6">
            <li class="self-center">
            {% if user.is_worker %}
              <a class="hover:text-green-600 {% if 'feed' in request.path %} text-cyan-800 underline{% endif %}" href="{% url 'employee:employee_feed' %}">Worker Feed</a>
            {% else %}
              <a class="hover:text-green-600 {% if 'feed' in request.path %} text-cyan-800 underline{% endif %} " href="{% url 'employer:employer_feed' %}">User Feed</a>
            {% endif %}
            </li>
            <li class="self-center">
              <a class="hover:text-green-600 {% if 'chat' in request.path %} text-cyan-800 underline{% endif %}" href="{% url "chat:chat_index" %}">Chat</a>
            </li>
            <li class="self-center">
              <a class="hover:text-green-600 {% if 'profile' in request.path %} text-cyan-800 underline{% endif %}" href="{% url 'profile:profile' username=request.user.username %}">Profile</a>
            </li>
            <li class="self-center">
              <form method="POST" action="{% url 'login:logout' %}" class="">
                {% csrf_token %}
                <button type="submit" class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700">Logout</button>
              </form>
          </li>
          </ul>
        {% else %}
        <ul class="nav-links flex space-x-6">
          <li><a class="hover:text-green-600" href="#explore">Explore</a></li>
          <li><a class="hover:text-green-600" href="#about">About</a></li>
          <li><a class="hover:text-green-600" href="#">Hire</a></li>
          <li><a class="hover:text-green-600" href="{% url 'login:login' %}">Sign In</a></li>
          <li><a class="join-button bg-green-600 text-white px-4 py-2 rounded hover:bg-blue-600" href="{% url 'register:register' %}">Join</a></li>
        </ul>
        {% endif %}
    </div>
  </nav>

  <main class="pt-0 h-5/6">
    {% block content %}

    {% endblock %}
  </main>

</body>
</html>
