{% extends 'layout.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}

{% block content %}
    <div class="bg flex flex-row gap-4 w-full px-8 py-5 bg-slate-100">
        <div class="w-2/6 flex flex-col gap-4">
            <div class="bg-white rounded-md shadow-custom_spread p-10 h-fit">
                <img class="rounded-full" src="{% if user.image %}{{user.image.url}}{% else %}{% static "images/default.webp" %}{% endif %}" alt="Profile Picture">
                <p class="text-center mt-4 text-xl font-bold text-primary_color">{{user}}</p>
                <p>
                    {% if user.social_contacts %}
                        {{ user.social_contacts|safe }}    
                    {% endif %}
                </p>
            </div>
            {% if owner %}
                <a href="{% url 'profile:edit_profile' username=user %}" class="text-center w-full p-2 bg-green-700 text-white rounded-sm hover:bg-green-800">Edit Profile</a>
            {% endif %}
        </div>
        <div class="w-4/6 bg-white rounded-md shadow-custom_spread p-4">
            <p class="text-xl text-primary_color font-medium">Active Job Post</p>
            <div class="job-contianer my-6 gap-4 flex flex-col px-2">
                {% if active_jobs %}
                  {% for job in active_jobs %}
                    <div class="flex flex-col gap-5 p-2 border border-slate-300 rounded-md px-4">
                        <p class="font-medium"><a class="hover:text-green-900" href="{% url 'job:my_jobs' job_id=job.id %}">{{job}}</a></p>
                        <div class="flex flex-col">
                            <small><span class="font-medium">Date Posted:</span> {{job.created_at}} </small>
                            <div class="flex">
                                <small><span class="font-medium">Salary:</span> {{job.budget}} </small>
                                <small class="ml-auto"><span class="font-medium">Status:</span> <span class="text-yellow-600">Active</span></small>    
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                {% else %}
                    <p>No active jobs available</p>
                {% endif %}
            </div>
        </div>
        <div class="w-2/6 flex flex-col gap-4">
            <div class="bg-white rounded-md shadow-custom_spread p-4">
                <p class="text-xl font-medium text-green-700">Ratings</p>
                {% if average_score %}
                    <p class="text-green-700 mt-5">Employer Rating</p>
                    <p class="text-3xl text-green-700 font-extrabold">{{average_score}}</p>
                {% else %}
                    <p>No Ratings Available</p>
                {% endif %}
            </div>
            <div class="bg-white rounded-md shadow-custom_spread p-4">
                <p class="text-xl font-medium text-green-700">Employer History</p>
                <div class="job-contianer my-6 gap-4 flex flex-col">
                    {% if finished_jobs %}
                      {% for job in finished_jobs %}
                        <div class="flex flex-col gap-5 p-2 border border-slate-300 rounded-md px-4">
                            <p class="font-medium">{{job}}</p>
                            <div class="flex flex-col">
                                <small><span class="font-medium">Date Posted:</span> {{job.created_at}} </small>
                                <div class="flex">
                                    <small><span class="font-medium">Salary:</span> {{job.budget}} </small>
                                    <small class="ml-auto"><span class="font-medium">Status:</span> <span class="text-primary_color">Completed</span></small>    
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    {% else %}
                        <p class="text-red-700">No Data</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}