{% extends 'layout.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}

{% block content %}
    {% for message in messages %}
        {% if message %}
            <div id="popup" class="fixed h-5/6 w-full flex flex-row transition-all">
                <div class="bg-white w-1/4 mx-auto mt-auto p-4 border-l-4 border-green-600 shadow-custom_spread">
                    <p>{{ message }}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="bg flex flex-col gap-4 w-full p-4 md:flex-row md:px-4 xl:px-24- 2xl:w-4/5 2xl:mx-auto">
        <div class="w-full gap-4 flex flex-col md:w-1/6">
            <div class="bg-white rounded-md border h-fit p-4 w-3/12 md:w-full">
                <img class="rounded-full" src="{% if profile_owner.image %}{{profile_owner.image.url}}{% else %}{% static "images/default.webp" %}{% endif %}" alt="Profile Picture">
                <p class="text-center text-2xl font-bold text-primary_color">{{profile_owner}}</p>
                <p>
                    {% if user.social_contacts %}
                        {{ user.social_contacts|safe }}    
                    {% endif %}
                </p>
            </div>
            {% if owner %}
                <a href="{% url 'profile:edit_profile' username=user %}" class="text-sm text-center w-3/12 md:w-full p-2 bg-green-700 text-white rounded-sm hover:bg-green-800">Edit Profile</a>
            {% endif %}
        </div>
        <div class="w-full md:w-3/6 bg-white rounded-md border p-4 h-fit">
            <p class="text-lg font-bold text-green-700">Active Job Post</p>
            <div class="job-contianer py-4 gap-4 flex flex-col">
                {% if active_jobs %}
                  {% for job in active_jobs %}
                    <div class="flex flex-col gap-1 p-4 border-2 rounded-sm" >
                        {% if owner %}
                            <p class="font-bold"><a class="hover:text-green-900" href="{% url 'job:my_jobs' job_id=job.id %}">{{job}}</a></p>
                        {% else %}
                            <p class="font-bold"><a class="hover:text-green-900" href="{% url 'job:apply_job' job_id=job.id %}">{{job}}</a></p>
                        {% endif %}
                        <div class="flex flex-col">
                            <small class="text-gray-600"> {{job.created_at}} </small>
                            <div class="flex">
                                <small class="text-gray-600">P {{job.budget}} </small>
                                <small class="ml-auto"><span class="font-medium">Status:</span> <span class="text-yellow-600">Active</span></small>    
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                {% else %}
                    <p>No active jobs available</p>
                {% endif %}
            </div>
            <div class="flex flex-col gap-4">
                <p class="text-lg font-bold text-green-700">Reviews</p>
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="border w-full p-4 felx flex-col gap-0">
                        <p class="text-sm font-medium">{{review.from_user}}</p>
                        <p class="italic">{{review.review}}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p>No Reviews Submitted for this user</p>
                {% endif %}
            </div>
        </div>
        <div class="w-full md:w-2/6 flex flex-row md:flex-col gap-4">
            <div class="bg-white rounded-md border p-4 w-4/12 h-fit md:w-full">
                <p class="text-lg font-bold text-green-700 ">Ratings</p>
                {% if ratings %}
                    <div>
                        <p class="text-gray-600 mt-5">Communication</p>
                        <p class="text-3xl text-black font-extrabold">{{ratings.Communication}}</p>
                    </div>
                    <div>
                        <p class="text-gray-600 mt-5">Fairness and Respect</p>
                        <p class="text-3xl text-black font-extrabold">{{ratings.Fairness_Respect}}</p>
                    </div>
                    <div>
                        <p class="text-gray-600 mt-5">Timeliness of Payment</p>
                        <p class="text-3xl text-black font-extrabold">{{ratings.Timeliness_Payment}}</p>
                    </div>
                {% else %}
                    <p>No Ratings Available</p>
                {% endif %}
            </div>
            <div class="bg-white rounded-md border p-4 w-8/12 md:w-full">
                <p class="text-lg font-bold text-green-700">Employer History</p>
                <div class="job-contianer gap-4 flex flex-col">
                    {% if finished_jobs %}
                      {% for job in finished_jobs %}
                        <div class="flex flex-col gap-2 p-2 border-2 rounded-sm">
                            {% if owner %}    
                                <a class="hover:text-green-900 hover:underline" href="{% url "job:my_jobs" job.id %}"><p class="font-medium">{{job}}</p></a>
                            {% else %}
                                <p class="font-medium"><a class="hover:text-green-900" href="{% url 'job:apply_job' job.id %}">{{job}}</a></p>
                            {% endif %}
                            <div class="flex flex-col">
                                <small><span class="font-medium text-gray-500">Date Posted:</span class="overflow-hidden"> {{job.created_at}} </small>
                                <div class="flex flex-row">
                                    <small><span class="font-medium text-gray-500">Salary:</span> {{job.budget}} </small>
                                    <small class="relative ml-auto"<span class="font-medium text-gray-500">Status:</span> <span class="text-primary_color">Completed</span></small>    
                                </div>
                            </div>
                        </div>
                      {% endfor %}
                    {% else %}
                        <p class="text-red-700">No Data</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            const popup = document.getElementById('popup');

            if (popup) {
                setTimeout(() => {
                    $('#popup').addClass('hidden');
                }, 2000);
            }
        });
    </script>
{% endblock content %}