{% extends 'layout.html' %}
{% load static %}
{% block title %}{{user.username}}{% endblock %}

{% block content %}
{% for message in messages %}
    {% if message %}
        <div id="popup" class="fixed h-5/6 w-full flex flex-row transition-all">
            <div class="bg-white w-1/4 mx-auto mt-auto p-4 border-l-4 border-green-600 shadow-custom_spread">
                <p>{{ message }}</p>
            </div>
        </div>
    {% endif %}
{% endfor %}
    <div class="flex flex-col gap-4 w-full p-4 md:flex-row md:px-4 xl:px-24- 2xl:w-4/5 2xl:mx-auto">
        <div class="left h-full w-full gap-4 flex flex-col md:w-1/6">
            <div class="top-left flex flex-col gap-4 bg-white rounded-md border h-fit p-4 w-3/12 md:w-full">
                {% if profile %}
                    <img class="justify-center self-center aspect-h-1 rounded-full" src="{{profile.url}}" alt="Profile picture of {{username}}"/>
                    {% else %}
                    <img class="justify-center self-center aspect-h-1 rounded-full" src="{% static "/images/default.webp" %}" alt="Profile picture of {{username}}"/>
                {% endif %}
                    <p class="text-center text-xl font-bold text-green-600">{{username}}</p>
                {% if social %}
                    <div class="text-justify text-sm my-6 px-4">
                        {{social|safe}}
                    </div>
                {% endif %}
            </div>
            {% if owner %}
                <a href="{% url "profile:edit_profile" username=logged_in_user.username%}" 
                class="text-sm text-center w-3/12 md:w-full p-2 bg-green-700 text-white rounded-sm hover:bg-green-800">Edit Profile</a>
            {% endif %}
        </div>
        <div class="middle bg-white rounded-md border p-5 rich-text-content h-fit w-full md:w-3/6">
            <h2 class="text-green-600 text-lg font-bold">Professional Summary</h2>
            {% if summary %}
                <p class="text-sm text-justify">{{ summary|safe }}</p>
                {% else %}
                <p class="text-sm mt-2 opacity-70 text-red-600 text-justify">No result found</p>
            {% endif %}

            <h2 class="text-green-600 text-lg font-bold mt-5">Professional Experience</h2>
            {% if summary %}
                <p class="text-sm text-justify">{{experience|safe}}</p>
                {% else %}
                <p class="text-sm mt-2 opacity-70 text-red-600 text-justify">No result found</p>
            {% endif %}

            <h2 class="text-green-600 text-lg font-bold mt-5">Key Skills</h2>
            {% if skills %}
                <p class="text-sm text-justify">{{skills|safe}}</p>
                {% else %}
                <p class="text-sm mt-2 opacity-70 text-red-600 text-justify">No result found</p>
            {% endif %}

            <div class="flex flex-col gap-4 mt-5">
                <p class="text-lg font-bold text-green-600">Reviews</p>
                {% if reviews %}
                    {% for review in reviews %}
                    <div class="border w-full p-2 felx flex-col gap-0">
                        <p class="font-medium text-lg">{{review.from_user}}</p>
                        <p class="italic text-sm">{{review.review}}</p>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="text-sm opacity-70 text-red-600">No Reviews Submitted for this user</p>
                {% endif %}
            </div>
        </div>
        <div class="right h-full w-full md:w-2/6 flex flex-row md:flex-col gap-4">
            <div class="bg-white rounded-md border p-4 w-4/12 h-fit md:w-full">
                <p class="text-green-600 text-lg font-bold">Ratings</p>
                <ul class="mt-5 flex flex-col gap-2">
                    <div>
                        <li class="text-gray-600">Timeliness</li>
                        <li class="text-black font-extrabold text-3xl ">{{ratings.Timeliness}}</li>
                    </div>
                    <div>
                        <li class="text-gray-600">Professionalism</li>
                        <li class="text-black font-extrabold text-3xl">{{ratings.Professionalism}}</li>
                    </div>
                    <div>
                        <li class="text-gray-600">Communication</li>
                        <li class="text-black font-extrabold text-3xl">{{ratings.Communication}}</li>
                    </div>
                </ul>
            </div>
            <div class="bg-white rounded-md border p-4 w-8/12 md:w-full">
                <p class="text-green-600 text-lg font-bold">History</p>
                <div class="pt-4 flex flex-col gap-4">
                    {% for job  in jobs %}
                        <div class="border-2 border-gray-300 p-3 rounded-md">
                            <a href="{% url "job:apply_job" job.job.id %}" class="hover:text-secondary hover:underline "><h3 class="font-bold text-lg">{{ job.job }}</h3></a>
                            <p class="text-xs">Status:
                                {% if job.status == "pending" or job.status == "accepted" %}
                                    <span class="text-orange-600">{{job.status}}</span>
                                {% elif job.status == "completed" %}
                                    <span class="text-green-700">{{job.status}}</span>
                                {% elif job.status == "completed" %}
                                    <span class="text-green-600-700">{{ job.status }}</span>
                                {% else %}
                                    <span class="text-red-700">{{ job.status }}</span>
                                {% endif %}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            const popup = document.getElementById('popup');

            if (popup) {
                setTimeout(() => {
                    $('#popup').addClass('hidden');
                }, 2000);
            }
        });
    </script>
{% endblock content %}