{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{% static "css/font.css" %}" rel="stylesheet" />
    <link href="{% static 'ckeditor/ckeditor/contents.css' %}" rel="stylesheet">
    <title>{{username}}</title>
</head>
<body class="h-screen bg-slate-100 overflow-x-hidden">
    <nav class="flex flex-row bg-white text-gray-800 px-24 py-2 w-full border-b-green-600 border-b-2">
        <div class="w-1/2 left">

        </div>
        <div class="right w-1/2 flex flex-row-reverse ">
            <a class="justify-end text-l ml-5 text-red-800" href="{% url "login:login" %}">Log out</a>
            <a class="justify-end text-l ml-5" href="{% url "profile:profile" logged_in_user.username %}">Profile</a>
            <a class="justify-end text-l ml-5" href="{% url "login:login" %}">Chat</a>
            <a class="justify-end text-l ml-5" href="{% url "login:login" %}">Discover</a>
            <a class="justify-end text-l ml-5" href="{% url "login:login" %}">Home</a>
        </div>
    </nav>
    <div class="bg flex flex-row w-full h-fit px-28 m-5">
        <div class="left w-1/4 h-full mr-5 flex flex-col">
            <div class="top-left bg-white w-full h-full mr-5 rounded-md shadow-md flex flex-col">
                {% if profile %}
                    <img class="justify-center self-center min-w-60 min-h-60 w-2/3 aspect-h-1 rounded-full mt-8" src="{{profile.url}}" alt="Profile picture of {{username}}"/>
                {% endif %}
                    <p class="text-center text-xl font-bold text-green-600 my-4">{{username}}</p>
                {% if social %}
                    <div class="text-justify text-sm px-4 text-green-600 my-6 mx-5">
                        {{social|safe}}
                    </div>
                {% endif %}
            </div>
            {% if owner %}
                <a href="{% url "profile:edit_profile" username=logged_in_user.username%}" 
                class="text-center mt-5 bg-green-600 text-white py-2 rounded-md shadow-md">Edit Profile</a>
            {% endif %}
        </div>
        <div class="middle bg-white w-1/2 overflow-scroll overflow-x-hidden rounded-md shadow-md p-8">
            <h2 class="text-green-600 text-xl font-medium">Professional Summary</h2>
            {% if summary %}
                <p class="text-sm mt-2 text-justify">{{ summary|safe }}</p>
                {% else %}
                <p class="text-sm mt-2 text-red-600 text-justify">No result found</p>
            {% endif %}

            <h2 class="text-green-600 text-xl font-medium mt-5">Professional Experience</h2>
            {% if summary %}
                <p class="text-sm mt-2 text-justify">{{experience|safe}}</p>
                {% else %}
                <p class="text-sm mt-2 text-red-600 text-justify">No result found</p>
            {% endif %}

            <h2 class="text-green-600 text-xl font-medium mt-5">Key Skills</h2>
            {% if skills %}
                <p class="text-sm mt-2 text-justify">{{skills|safe}}</p>
                {% else %}
                <p class="text-sm mt-2 text-red-600 text-justify">No result found</p>
            {% endif %}
        </div>
        <div class="right bg-white w-1/4 h-full ml-5 p-8 rounded-md shadow-md">
            {% if rating %}
            {% else %}
            <div class="text-red-600">No ratings available</div>
            {% endif %}
        </div>
    </div>
</body>
</html>